:root {
    /* Primary Colors */
    --primary: #00bf7d;
    /* Green Teal */
    --secondary: #1976d2;
    ;
    /* Aqua Blue */
    --accent: #0073e6;
    /* Blue */
    --accent-2: #2546f0;
    /*Indigo Blue */
    --accent-3: #5928ed;
    /* Violet */
    --black-text: #000000;
    --white-text: #ffffff;
    --background: #ffffff;
    --surface: #f5f5f5;

}

* {

    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;

}

body {

    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /* ✅ allow to grow if content is taller */
    max-width: 1400px;
    border: #000000 solid 1px;
    margin-left: auto;
    margin-right: auto;

}

/* ------------------Global styles-------- */

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    font-size: 1.2em;
    margin: 10px;
    flex: 1;
}

#main-content {
    text-align: center;
}

h1 {
    margin: 10px;
    font-family: "Fredoka", sans-serif;
    font-weight: 500;
    font-size: 3em;
    text-align: center;
}

h2 {
    margin: 10px;
    font-family: "Fredoka", sans-serif;
    font-weight: 500;
    
    font-size: 2em;
}


header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 10px 20px;
    background-color: var(--primary);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

}

/* ----------------Navbar---------------------- */
nav {

    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    padding: 10px 20px;
    color: var(--primary-text);
    font-size: 1.5em;
}

nav ul li a {
    text-decoration: none;
    color: var(--primary-text);

}

nav ul li a:hover {
    font-style: italic;
}

.page-title {
    text-align: center;
    background-color: var(--primary);
    /* shadow on the bottom */
}


.hamburger {
    display: none;
}

.hamburger img {
    src: "./images/menu-close.png";
}

.hamburger div {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 16px 0;
    padding-right: 20px;
}

/* 
This active class we put on the link box when 
we toggle on in the navbar.js. this makes the nav menue
fit the entire screen and puts it infront of everything using
z-index 1000
*/
.nav-link-box.active {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: var(--primary);
    align-items: center;
    z-index: 1000;
}

.nav-link-box.active .hamburger {

    position: absolute;
    top: 50px;
    right: 2px;
}

.nav-link-box.active .nav-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

/* responsive part of the nav bar to toggle the hamburger */
@media screen and (max-width: 768px) {
    nav ul {
        display: none;
        flex-direction: column;
    }

    .hamburger {
        display: block;
        margin-right: 30px;
        cursor: pointer;
    }
}


/* -----------------Footer -----------------*/

footer {

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--primary);
    color: black;
    width: 100%;
    margin-top: auto;

}


/*--------------Main Home page --------- --- */

/* set the top row to be a flexbox */
#home .top-row {
    display: flex;
    margin: 10px;

    margin-bottom: 50px;

}

/* set the left column to be 50% */
#home .top-row .left-column {
    width: 50%;

}

#home .top-row h2 {
    text-align: center;
}

#home .top-row .right-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 50%;

    margin: 10px;


}

#home P {
    font-size: 1.2em;
    margin: 10px;
    line-height: 1.3em;
}

#home .top-row .right-column h2 {
    text-align: center;

}

#home .top-row .right-column #featured-images {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

#home .top-row .right-column .image-box {
    display: flex;
    flex-direction: column;
}

/* When screen is smaller,top row to be stacked */
@media (max-width: 768px) {
    #home .top-row {
        flex-direction: column;
    }

    #home .top-row .left-column,
    #home .top-row .right-column {
        width: 100%;
    }
}

/* responsive part of the nav bar to toggle the hamburger */
@media screen and (max-width: 1000px) {

    #home .top-row .right-column #featured-images {
        flex-direction: column;
    }
}


/*-------------- Home page middle row --- */

/* #home .middle-row {
    display: flex;
    justify-content: center;
    text-align: center;
} */


#home #eductaional {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.middle-row h2 {
    text-align: center;
}

#home .middle-row-left {
    width: 50%;
    margin: 10px;
}

#home .middle-row-right {
    width: 50%;
    text-align: center;
    margin: 10px;
}

.video-container {
    display: flex;
    justify-content: center;
    align-items: center;

}

iframe {

    width: 80%;
    height: 80%;
    aspect-ratio: 16/9;
    border: none;
}

@media screen and (max-width: 768px) {
    #home #eductaional {
        flex-direction: column;
    }

    #home .middle-row .middle-row-left,
    #home .middle-row .middle-row-right {
        width: 100%;
    }

}

/*-------------- Home page bottom row --- */

#home .bottom-row {
    display: flex;
    justify-content: center;
    height: 100%;
}

.book-now-btn {
    background-color: #1976d2;
    /* MUI Primary Blue */
    margin: 20px;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    font-size: 2em;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.3s ease;

}

.book-now-btn a {
    text-decoration: none;
    color: white;
}

.book-now-btn:hover {
    background-color: red;
    /* Darker blue on hover */
}

.book-now-btn:active {
    transform: scale(0.98);
}


/*------------------ About page -------------------------------*/