:root {
    /* Variable so i can play with colors*/
    --primary: #00bf7d;
    --secondary: #0073e6;
    --accent-2: #2546f0;
    --black-text: #000000;
    --white-text: #ffffff;
    --background: #ffffff;
    --service-item-background: #f0f0f0;
}


/* GlobalReset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* Deafult fonts */
    font-family: Arial, sans-serif;

}


body {
    min-height: 100vh;
    max-width: 1400px;
    border: #000000 solid 1px;
    margin-left: auto;
    margin-right: auto;
}

body,
.container {
    /* Remove the padding so i can have our border */
    padding-left: 0 !important;
    padding-right: 0 !important;

}




/* ---------------------Nav Bar ---------------- */
/* Green background for navbar */
/* Bootstraps toggle replacing my hamburger navbar javascript 
  NOTE: Now it stays at the top and we dont have to use the zindex 
  and javascript to swap the toggle button
  
  */
.navbar,
#heading-title {
    background-color: var(--primary);
    padding: 10px !important;
}

#heading-title h1 {
    margin: 10px;
    font-family: "Fredoka", sans-serif, Arial;
    font-weight: 500;
    font-size: 3em;
    text-align: center;
}

/* Nav links */
.navbar-nav .nav-link {
    color: var(--primary-text);
    font-size: 1.5em;
    padding: 10px 20px;
}

.navbar-nav .nav-link:hover {
    font-style: italic;
    color: var(--primary-text) !important;
}

/* Brand logo image size i think this is right */
.navbar-brand img {
    max-height: 70px;
}

/* Hamburger toggler icon size */
.navbar-toggler img {
    width: 40px;
}

.navbar-nav {
    text-align: center;
}

/*-------------------- Footer----------------- */
footer {
    background-color: var(--primary);
    padding: 10px
}

footer p {
    margin: 2px 0;
    /* reduce spacing for the P elements */
}

.privacy-link {
    padding-top: 12px;
}

/* Main content */

main {
    padding: 12px;
    flex: 1;
    /* This pushes footer to the bottom */
    font-size: 1.2em;


}

/* Fonts */

#page-title h2 {
    font-size: 2.5em;
}

h2 {
    margin: 10px;
    font-family: "Fredoka", sans-serif, Arial;
    font-weight: 500;
    font-size: 2em;
}



#home P {
    font-size: 1.2em;
    margin: 10px;
    line-height: 1.3em;
}

/* use the id because its more specific then the bootstrap class */
#book-now-btn {
    /*  Primary Blue */
    margin: 20px;
    padding: 8px 16px;
    font-size: 2em;
    text-transform: uppercase;
    cursor: pointer;
}

.video-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

iframe {
    width: 100%;
    height: 100%;
    aspect-ratio: 16/9;
    border: none;
}

/* -------Gallery */
/*------------------ Gallery-------------------------------*/

.gallery-container {

    max-width: 200px;
    max-height: 200px;
    /* Allow items to wrap onto a new row */
}

.gallery-item {
    /* This gives 3 items per row */
    margin: 10px;
    text-align: center;
}

.gallery-item img {
    /* these to make it look normal even with the max-witth */
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

.page-desc {
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.3em;
}

/*------------------ Services-------------------------------*/
/* removed all the flexbox stuff and kept some styling
simplified the html alow and use bootstrap cols */

.service-item {

    width: 100%;
    height: 100%;
    border: #000000 solid 1px;
    border-radius: 10px;
    background-color: var(--service-item-background);
    /* I thought i would try make it look cool */
    box-shadow: 0 4px 8px rgba(50, 16, 199, 0.2);
    transition: transform 0.3s ease, box-shadow 0.9s ease;
    text-align: center;
    padding: 20px;
    font-size: 1.1em;

}

.service-item:hover {
    transform: scale(1.1);
}

.service-name {
    font-size: 1.2em;
    font-weight: 600;
    margin-bottom: 10px;
}


/* Services Table we removed old styling and use the new bootstrap table
but kept the summary styling  */

summary {
    text-align: center;
    font-size: 1.4em;
    font-weight: 600;
    margin: 10px;
    cursor: pointer;
}

/* -------------------Booking page--------------- */
#booking-form {
    width: 100%;
    max-width: 500px;
}

.form-control {
    /* Darken the bootstrap input borders as they where quite light */
    border: #000000 solid 1px !important;

}

#popup-data {
    width: 100%;
}

/* Note: to center the labels when smaller screens to match we used
text-sm-start text-center */