:root {
    /* Primary Colors */
    --primary: #00bf7d;
    /* Green Teal */
    --secondary: #00b4c5;
    /* Aqua Blue */
    --accent: #0073e6;
    /* Blue */
    --accent-2: #2546f0;
    /*Indigo Blue */
    --accent-3: #5928ed;
    /* Violet */
    --black-text: #000000;
    --white-text: #ffffff;
    --background: #ffffff;
    --surface: #f5f5f5;

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;

}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    border: 1px solid red;
}

/* Navbar */
nav {

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    background-color: var(--primary);
    color: var(--black-text);
    ;
    padding: 0px 0px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);


}

nav ul {

    display: flex;
    list-style: none;

}

nav ul li {
    padding: 10px 20px;
    color: var(--primary-text);
    font-size: 1.5em;
}

nav ul li a {
    text-decoration: none;
    color: var(--primary-text);
    
}

nav ul li a:hover {
    font-style: italic;
}

.page-title {
    text-align: center;
    padding: 5px;
    background-color: var(--primary);
    /* shadow on the bottom */
    font-family: "Fredoka", sans-serif;
}

.page-title h1 {
    font-family: "Fredoka", sans-serif;
    font-weight: bold;
}

.hamburger {
    display: none;
}

.hamburger img {
    src: "./images/menu-close.png";
}

.hamburger div {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 16px 0;
    padding-right: 20px;
}

/* 
This active class we put on the link box when 
we toggle on in the navbar.js. this makes the nav menue
fit the entire screen and puts it infront of everything using
z-index 1000
*/
.nav-link-box.active {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: var(--primary);
    align-items: center;
    z-index: 1000;
}

.nav-link-box.active .hamburger {

    position: absolute;
    top: 50px;
    right: 2px;
}

.nav-link-box.active .nav-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

/* responsive part of the nav bar to toggle the hamburger */
@media screen and (max-width: 768px) {
    nav ul {
        display: none;
        flex-direction: column;
    }

    .hamburger {
        display: block;
        margin-right: 30px;
        cursor: pointer;
    }
}

/* Footer */


/* Footer */

footer {

    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--primary);
    color: black;
    width: 100%;

}


/* Main content area */
main {
    display: flex;
    flex: 1;
    padding: 20px;
    justify-content: center;

}